.table-stock {
  table {
    width: 100%;
    text-align: left;
    margin-top: 30px;
    border: 1px solid $primary-color;
    tr {
      padding: 10px 0;
      background-color: $grey;
      &:nth-of-type(1){
        background-color: white;
      }
      &:nth-of-type(2n){
        background-color: #ccc;
      }
      td {
        padding: 10px 5px;
        // background-color: #ccc;
        font-size: .9rem;
      }
    }
  }
}
