@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.flex-panel-content {
  display: flex;
}

.container {
  width: 80vw;
  max-width: 1000px;
  padding: 20px 2%;
}

.title-page {
  padding: 30px 0;
  border-bottom: 1px solid black;
  font-size: 1.3rem;
}

.confirm-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

.confirmation-box {
  width: 100%;
  max-width: 500px;
  padding: 20px 10px;
  background-color: white;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.5);
}
.confirmation-box h2 {
  font-size: 1.3rem;
  color: rgb(45, 84, 97);
  text-align: center;
}
.confirmation-box p {
  margin-top: 20px;
}
.confirmation-box .confirmation-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.confirmation-box .confirmation-buttons button {
  width: 100%;
  max-width: 200px;
  height: 30px;
  border: 0;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.confirmation-box .confirmation-buttons button:hover {
  transform: scale(1.05);
}

.active-confirm-overlay {
  display: flex;
}

header {
  width: 20vw;
  height: 100vh;
  background-color: rgb(45, 84, 97);
  text-align: center;
  padding: 20px 2%;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
header h2 {
  font-size: 2rem;
}
header ul {
  list-style-type: none;
  margin-top: 30px;
}
header ul a {
  text-decoration: none;
}
header ul a li {
  width: 100%;
  padding: 10px 0;
  background-color: transparent;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  color: white;
  transition: 0.3s;
}
header ul a li:hover {
  color: rgb(45, 84, 97);
  background-color: #ccc;
}

.content-clients-page {
  padding: 30px 0;
}
.content-clients-page .information-and-filters {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
.content-clients-page .information-and-filters h5 {
  font-size: 0.8rem;
}
.content-clients-page .information-and-filters select {
  width: 100%;
  max-width: 200px;
  height: 40px;
  padding: 0 10px;
}
.content-clients-page .information-and-filters select option {
  height: 40px;
}
.content-clients-page h5 {
  margin-top: 10px;
}
.content-clients-page h2 {
  color: rgb(45, 84, 97);
}
.content-clients-page input {
  width: 100%;
  max-width: 300px;
  height: 30px;
  margin-top: 15px;
  padding: 0 10px;
}
.content-clients-page a button {
  background-color: rgb(45, 84, 97);
  height: 35px;
  padding: 0 10px;
  margin-top: 15px;
  border: 0;
  color: white;
  cursor: pointer;
}
.content-clients-page .clients-cards {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}
.content-clients-page .clients-cards .single-cards {
  width: 100%;
  max-width: 300px;
  padding: 10px 5px;
  border: 1px solid #ccc;
  gap: 10px;
  font-weight: 300;
}
.content-clients-page .clients-cards .single-cards h2 {
  font-size: 1.3rem;
}
.content-clients-page .clients-cards .single-cards h2:nth-of-type(2) {
  font-size: 1rem;
}
.content-clients-page .clients-cards .single-cards h3 {
  font-size: 1.1rem;
  margin-top: 10px;
}
.content-clients-page .clients-cards .single-cards button {
  width: 100%;
  height: 30px;
  margin-top: 10px;
  border: 0;
  background-color: rgb(45, 84, 97);
  color: white;
  cursor: pointer;
}

.single-client {
  padding: 30px 0;
}
.single-client h2 {
  color: rgb(45, 84, 97);
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.single-client h3 {
  font-size: 1.2rem;
  font-weight: bold;
}
.single-client h3 span {
  font-size: 1.1rem;
  font-weight: 500;
}
.single-client .requests-list {
  width: 100%;
  max-height: 500px;
  overflow: auto;
}
.single-client .requests-list h2 {
  font-size: 2rem;
  margin: 15px 0;
}
.single-client .requests-list table {
  width: 100%;
  border: 1px solid #ccc;
}
.single-client .requests-list table th {
  min-width: 100px;
  padding: 10px 0;
  background-color: white;
}
.single-client .requests-list table tr {
  background-color: #ccc;
}
.single-client .requests-list table tr:nth-child(2n) {
  background-color: rgb(180, 180, 180);
}
.single-client .requests-list table tr td {
  padding: 10px 5px;
}
.single-client .requests-list table tr td.payment-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.single-client .requests-list table tr td.payment-buttons input[type=number] {
  width: 100%;
  max-width: 150px;
  height: 30px;
  padding: 0 8px;
}
.single-client .requests-list table tr td.payment-buttons input[type=submit] {
  width: 100%;
  max-width: 100px;
  height: 30px;
  padding: 0 8px;
  border: 0;
  color: white;
  background-color: #47a123;
}
.single-client div.payment-table {
  width: 100%;
  display: flex;
  justify-content: center;
}
.single-client div.payment-table table th {
  min-width: 100px;
  padding: 10px 0;
  background-color: white;
}
.single-client div.payment-table table tr {
  background-color: #ccc;
}
.single-client div.payment-table table tr:nth-child(2n) {
  background-color: rgb(180, 180, 180);
}
.single-client div.payment-table table tr td {
  padding: 10px 5px;
}
.single-client div.payment-table table tr td.payment-buttons form {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.single-client div.payment-table table tr td.payment-buttons form input[type=number] {
  width: 100%;
  max-width: 150px;
  height: 30px;
  padding: 0 8px;
}
.single-client div.payment-table table tr td.payment-buttons form input[type=submit] {
  width: 100%;
  max-width: 100px;
  height: 30px;
  padding: 0 8px;
  border: 0;
  color: white;
  background-color: #47a123;
  cursor: pointer;
}
.single-client .payment-history {
  margin-top: 20px;
  max-height: 300px;
  overflow: auto;
}
.single-client .payment-history table {
  width: 100%;
  text-align: center;
  border: 1px solid #ccc;
}
.single-client .payment-history table th {
  padding: 10px 0;
  color: rgb(45, 84, 97);
}
.single-client .payment-history table td {
  padding: 10px 0;
  background-color: #ccc;
}
.single-client .payment-history table td:nth-child(2n) {
  background-color: rgb(180, 180, 180);
}
.single-client .payment-history table td:last-child {
  background-color: white;
}
.single-client .payment-history table button.close-button {
  width: 80%;
  border: 0;
  font-size: 1.5rem;
  background-color: rgb(45, 84, 97);
  cursor: pointer;
  color: white;
  padding: 10px 0;
  transition: 0.3s;
}
.single-client .payment-history table button.close-button:hover {
  background-color: #b32917;
}
.single-client h2#added-value {
  color: rgb(45, 84, 97);
  margin-top: 20px;
  text-align: right;
}

.client-register {
  padding: 20px 0;
}
.client-register form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.client-register form label {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(45, 84, 97);
}
.client-register form input {
  width: 100%;
  max-width: 300px;
  padding: 5px;
}
.client-register form button {
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
  padding: 10px 0;
  background-color: #47a123;
  font-size: 1.3rem;
  border: 0;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.client-register form button:hover {
  background-color: rgb(4, 151, 4);
  transform: scale(1.01);
}

.requests {
  padding: 30px 0;
}
.requests button.new-request {
  width: 100px;
  height: 100px;
  background-color: rgb(180, 180, 180);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}
.requests button.new-request .icon_plus {
  color: white;
  font-size: 3rem;
}
.requests .all-requests {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.requests .all-requests .single-request {
  width: 100%;
  max-width: 300px;
  padding: 10px 5px;
  border: 1px solid rgb(180, 180, 180);
}
.requests .all-requests .single-request h3 {
  color: rgb(45, 84, 97);
  font-size: 0.9rem;
}
.requests .all-requests .single-request h2 {
  font-size: 1.1rem;
  margin: 5px;
}
.requests .all-requests .single-request button {
  width: 100%;
  height: 30px;
  background-color: rgb(45, 84, 97);
  color: white;
  border: 0;
  cursor: pointer;
}

.new-request {
  width: 100%;
  background-color: rgb(230, 230, 230);
  padding: 30px 20px;
  margin-top: 30px;
  border-radius: 10px;
}
.new-request form.form-new-request {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1 1 200px;
  gap: 10px;
}
.new-request form.form-new-request input {
  padding: 5px;
}
.new-request form.form-new-request input[type=text] {
  width: 100%;
  max-width: 500px;
}
.new-request form.form-new-request input[type=number] {
  width: 100%;
  max-width: 100px;
}
.new-request form.form-new-request input[type=submit] {
  width: 100%;
  max-width: 100px;
  border: 0;
  background-color: rgb(45, 84, 97);
  color: white;
  cursor: pointer;
}

.container-requests {
  margin-top: 30px;
  width: 100%;
  max-height: 600px;
  overflow: auto;
  border: 1px solid #ccc;
}
.container-requests table {
  width: 100%;
}
.container-requests table tr {
  padding: 10px;
}
.container-requests table tr th {
  background-color: rgb(180, 180, 180);
  min-width: 100px;
}
.container-requests table tr td {
  padding: 10px;
  text-align: center;
}
.container-requests table tr td button {
  width: 100%;
  border: 0;
  background-color: rgb(45, 84, 97);
  color: white;
  font-size: 1.5rem;
  transition: 0.3s;
  cursor: pointer;
}
.container-requests table tr td button:hover {
  background-color: #b32917;
}

.send-request {
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  background-color: #47a123;
  border: 0;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}
.send-request:hover {
  background-color: green;
}

.container .single-page-table {
  width: 100%;
  overflow: auto;
}
.container .single-page-table table tr:nth-child(2n) {
  background-color: #ccc;
}
.container .single-page-table table th {
  min-width: 200px;
  padding: 20px 0;
  border-bottom: 1px solid rgb(45, 84, 97);
}
.container .single-page-table table td {
  padding: 10px 0;
  text-align: center;
}
.container .delete-request {
  width: 100%;
  max-width: 200px;
  padding: 5px 0;
  background-color: #b32917;
  border: 0;
  color: white;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.container .delete-request:hover {
  background-color: rgb(87, 20, 20);
}

.table-stock table {
  width: 100%;
  text-align: left;
  margin-top: 30px;
  border: 1px solid rgb(45, 84, 97);
}
.table-stock table tr {
  padding: 10px 0;
  background-color: rgb(180, 180, 180);
}
.table-stock table tr:nth-of-type(1) {
  background-color: white;
}
.table-stock table tr:nth-of-type(2n) {
  background-color: #ccc;
}
.table-stock table tr td {
  padding: 10px 5px;
  font-size: 0.9rem;
}/*# sourceMappingURL=main.css.map */